extends layout

block content
    .wrapper
        .sidebar
        .mainbar
            img.burger(src="https://cdn.discordapp.com/attachments/898413474080772116/900983711955296286/401burger.png")
        .sidebar
    include footer.pug
