extends layout.pug

block content
    .wrapper 
        .sidebar 
        .mainbar
            h1 Are you sure you want to delete your answer:
            h3 #{answer.content}
            .ask-container
                form.form(action=`/answers/${answer.id}/delete` method='post')
                    .field-button
                        button.delete-button1 Delete
    include footer.pug
