footer#footer
  div.profile-wrapper
    div.profile
      p.name Ray Nehring
      a(href="https://github.com/Rayn89") GitHub
      a(href="https://www.linkedin.com/in/raymond-nehring-553ba2206/") LinkedIn
    div.profile
      p.name Alfredo Sugawara
      a(href="https://github.com/a-sugawara") GitHub
      a(href="https://www.linkedin.com/in/alfredo-sugawara-25045521a/") LinkedIn
    div.profile
      p.name Greg Gomes
      a(href="https://github.com/greg-nice") GitHub
      a(href="https://www.linkedin.com/in/greg-gomes-a5257324/") LinkedIn
    div.profile
      p.name John Kim
      a(href="https://github.com/cloudiosx") GitHub
      a(href="https://www.linkedin.com/in/john-kim-developer/") LinkedIn
