extends layout

block content
    div.wrapper
        div.sidebar
        div.mainbar
          if locals.authenticated
            div.askBox
                a.qType Trending Questions
                form(action='/questions/ask' method="get")
                    button.ask Ask a Question
            if sortedQuestions
                each question in sortedQuestions
                    div.questionBox
                        div.info
                            a Posted by:
                            a #{question.User.userName}
                        div.qCont
                            a(href=`/questions/${question.id}`) #{question.title}
          else
            img.splash(src="https://cdn.discordapp.com/attachments/898413474080772116/900862081153237072/splashpage.png")
            a(href='/questions') browse questions
        div.sidebar
    include footer.pug
