doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    if locals.authenticated
      p #{locals.user.userName}
      form(action='/users/logout' method='post')
        button Log Out
    else
      a(href='/users/login') Log In
      a(href='/users/signup') Sign Up
      form(action="/users/demo", method="post")
        button Demo
    block content
