extends layout.pug 

block content
    .wrapper 
        .sidebar 
        .mainbar
            h1 Are you sure you want to delete your question: 
            h3 #{question.title}
            .ask-container
                form.form(action=`/questions/${question.id}/delete` method='post')
                    .field-button
                        button.delete-button1 Delete
    include footer.pug
    