extends layout.pug

block content
    .wrapper 
        .sidebar 
        .mainbar
            if errors
                .warn
                    p The following errors occurred:
                    ul
                        each error in errors
                            li= error
            .sign-up
                form.form(action="/users/login" method="post")
                    input(type='hidden' name='_csrf' value=csrfToken)
                    div.field
                        label(for='email') Email
                        input.form-bar(type='email' name='email' value=email)
                    div.field
                        label(for='password') Password
                        input.form-bar(type='password' name='password')
                    div.field-button
                        button.signup-button Log In
            div
                p: a(href='/users/signup') Don't have an account?
        .sidebar 
    include footer.pug
