extends layout.pug

block content
    if errors
        p The following errors occurred:
        ul
            each error in errors
                li= error
    form(action="/users/login" method="post")
        input(type='hidden' name='_csrf' value=csrfToken)
        div
            label(for='email') Email
            input(type='email' name='email' value=email)
        div
            label(for='password') Password
            input(type='password' name='password')
        div
            button Log In
    div
        p: a(href='/users/signup') Don't have an account?
