.form-header{
    border-bottom: 1px solid rgba(128, 128, 128, 0.301);
}

.warn{
    display:flex;
    border: 0.125rem solid #c76464;
    background-color:rgb(252, 151, 167);
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.sign-up{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 10rem;
    gap: 0.5rem;
    width: 70%;
    background-color:#e4e4ec;
    padding: 2rem 0.5rem 3rem 0.5rem;
    border-radius:10px;
}

.ask-container{
    display: flex;
    justify-content:center;
    margin-top: 1.5rem;
    gap: 0.5rem;
}

.field{
    display: flex;
    justify-content:center;
    width: 90%;

}

.field-placeholder{
    display: flex;
    justify-content: center;
    width: 100%
}

.form-bar{
    width: 100%;
    font-size:1.6rem;
    border:0.2px black solid;
    border-radius: 5px;
}

.form-box{
    width: 20rem;
    height: 12rem;
    resize: none;
    font-size:1.4rem;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    width:100%;
}
.field-button{
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top:2rem;
}
.signup-button{
    background-color: #5196d8;
    border:white;
    width: 75%;
    padding:.5rem;
    border-radius:5px;
}
.signup-button:hover{
    background-color: #5eacf5;
    border:white;
    width: 75%;
    padding:.5rem;
    border-radius:5px;
}
